<div data-ng-controller="AdsController">
    <nav class="rightNavigation">
        <div class="categories" data-ng-controller="CategoryController">
            <h3>Categories</h3>
            <ul>
                <li class="selected"><a href="" data-ng-click="getAllCategories()">All</a></li>
                <li data-ng-repeat="category in categories track by $index"><a href="#/" data-ng-click="getByCategoryId($index + 1)">{{category.name}}</a></li>
            </ul>
        </div>
        <hr />
        <div class="towns" data-ng-controller="TownController">
            <h3>Towns</h3>
            <ul>
                <li class="selected"><a href="" data-ng-click="getAllTowns()">All</a></li>
                <li data-ng-repeat="town in towns track by $index"><a href="#/" data-ng-click="getByTownId($index + 1)">{{town.name}}</a></li>
            </ul>
        </div>
    </nav>
    <div class="advertisement" data-ng-repeat="ad in ads">
        <div class="title">
            <h3>{{ad.title}}</h3>
            <strong>{{ad.date | date:'d-MMM-yyyy'}}</strong>
        </div>
        <div class="content">
            <div class="imageView">
                <img data-ng-src="{{ad.imageDataUrl}}" />
                <img data-ng-if="!ad.imageDataUrl" data-ng-src="images/noImage.png" />
            </div>
            <div class="text">
                {{ad.text}}
            </div>
            <div>
                <strong>Name: </strong>
                <div class="name">{{ad.ownerName}}</div>
            </div>
            <div>
                <strong>Email: </strong>
                <div class="email"><a href="mailto:{{ad.ownerEmail}}">{{ad.ownerEmail}}</a></div>
            </div>
            <div>
                <strong>Tel: </strong>
                <div class="tel">{{ad.ownerPhone}}</div>
            </div>
        </div>
    </div>
    <div class="pager">
        <div class="pageButton"><a href="" data-ng-click="firstPage()">First</a></div>
        <div class="pageButton"><a href="" data-ng-click="previousPage()">Previous</a></div>

        <div class="pageButton" data-ng-repeat="i in pagesList track by $index">
            <a href="" data-ng-click="setStartPage($index+1)">{{$index + 1}}</a>
        </div>

        <div class="pageButton"><a href="" data-ng-click="nextPage()">Next</a></div>
        <div class="pageButton"><a href="" data-ng-click="lastPage()">Last</a></div>
    </div>
</div>
