<div class="loginForm" data-ng-controller="LoginController">
    <h2>Login</h2>
    <hr />
    <span>Username:</span>
    <input type="text" name="username" required="required" data-ng-model="user.username" />
    <span>Password:</span>
    <input type="password" name="password" required="required" data-ng-model="user.password" />

    <div class="linkButton">
        <a href="#/user/login" data-ng-click="login(user)">Login</a>
    </div>
    <div>
        <a href="#/register">Register here</a>
    </div>
</div>
