body {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

main, body {
    background-color: #E0F0D0;
}

header, footer, .linkButton {
    text-align: center;
}

header, footer, nav, .advertisement, .loginForm, .registerForm, .publishNewAd, .pageButton{
    background-color: #AACC88;
    border: 2px solid #668844;
}

header > h2{
    display: inline-block;
    margin: 5px;
}

#userSettings {
    float: right;
    margin: 10px;
}

#userSettings > a{
    margin: 0 20px;
}

.leftNavigation, .rightNavigation{
    margin: 20px;
    padding: 15px;
}

.leftNavigation {
    float: left;
}

.userNavigation > h3  {
    margin: 0;
    text-align: center;
}

.rightNavigation {
    float: right;
}

nav div{
    margin: 10px;
}

nav ul{
    padding: 0;
}

nav ul li{
    list-style-type: none;
    margin-top: 5px;
    padding: 2px;
}

nav ul li:hover{
    background-color: #F7C40C;
}

nav ul li.selected{
    border: 1px solid #668844;
    background-color: #DAAA00;
}

nav ul li a{
    display: block;
    color: black;
    font-size: 1.1em;
}

.linkButton {
    border: 2px solid #668844;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
    background-color: #70AA44;
    width: 160px;
}

.linkButton > a{
    color: white;
    font-weight: bold;
    font-size: 20px;
    display: block;
    text-shadow: 1px 2px #606060;
}

.linkButton:hover {
    background-color: #DAAA00;
}

.pager {
    text-align: center;
}

.pager .pageButton {
    display: inline-block;
    margin: 10px auto;
}

.pager .pageButton > a {
    color: black;
    display: block;
    margin: 5px 10px;
}

.pager .pageButton:hover {
    background-color: #DAAA00;
}

a {
    text-decoration: none;
}

footer {
    padding: 10px;
}

main {
    min-height: 630px; /* remove this*/
}

.advertisement, .loginForm, .registerForm, .publishNewAd {
    margin: 20px auto;
    padding: 0 20px;
}

.advertisement {
    width: 30%;
}

.loginForm, .registerForm, .publishNewAd {
    width: 20%;
    border-radius: 10px;
}

.loginForm div, .registerForm div{
    text-align: center;
    margin-bottom: 5px;
}

.publishNewAd {
    width: 40%;
    border-radius: 10px;
}

.publishNewAd input, .publishNewAd select{
    display: inline-block;
    width: 45%;
}

.publishNewAd .linkButton{
    display: inline-block;
}

.imageContainer {
    float: right;
}

.title > h3, .title > strong, .imageView, h2 {
    text-align: center;
}

.title > strong {
    display: block;
}

.content {
    margin: 10px 0;
}

.imageView, .text, .name, .email, .tel {
    border-radius: 5px;
    border: 2px dotted black;
    padding: 15px;
    background-color: #C5E0B0;
}

.imageView{
    margin: 10px auto;
}

img {
    width: 60%;
    height: 60%;
}

hr {
    border: 0;
    height: 2px;
    background: #668844;
}

input, select {
    font-size: 1.2em;
    padding: 5px;
    margin-bottom: 5px;
    display: block;
    width: 95%;
}

.clearfix {
    clear: right;
}