body{
    margin: 0;
    padding: 0;
    font-family: Arial;
    background-color: #E2F0D9;
}

header, footer {
    text-align: center;
}

header, footer, .advertisement {
    background-color: #AACC88;
    border: 2px solid #668844;
}

main {
    background-color: #E2F0D9;
    height: 500px;
}

h3 {
    display: inline-block;
}

.advertisement {
    width: 30%;
    margin: 20px auto;
    padding: 20px;
}

.title > strong {
    float: right;
}

.content {
    margin-top: 10px;
}

.imageView, .text, .name {
    border-radius: 5px;
    border: 2px dotted black;
    padding: 15px;
}

.imageView{
    display: inline-block;
}